Take in (stdin) list of IPs
Spit out abuse emails for each IP
Accuracy result: standard format, typical format, best guess, any email, not found
Error results:
	try again:
		rate-limited
		banned
	no record
	reserved?
	
List of other emails?